<% include ../partials/header.ejs %>

<div class="container">
  <div class="row">
     <div class="col-md-3">
       <h2 class="lead">Camp info:</h2>
       <div class="list-group">

       </div>
     </div>

     <div class="col-md-9">
       <div class="card">
         <div class="card-body">
           <img class="img-fluid w-100 p-3" src="<%= camp.image %>">
           <div class="caption-full">
             <h4 class="float-right">$<%= camp.price %>/night</h4>
             <h4><a><%= camp.name %></a></h4>
             <p><strong>Location:</strong> <%= camp.location %></p>
             <p><strong>Description:</strong> <%= camp.description %></p>
             <p>
               <em>Submitted By: <a href="/users/<%= camp.author.id %>"><%= camp.author.username %></a> </em>
             </p>
             <% if(currentUser && camp.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
               <a class="btn btn-warning" href="/camps/<%= camp._id %>/edit">Edit info</a>
               <form id="delete-form" action="/camps/<%= camp._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-danger">Delete</button>
               </form>
             <% } %>
           </div>
           <div class="text-right">
             <a class="btn btn-success" href="/camps/<%= camp._id %>/comments/new">Add new comment</a>
           </div>
         </div>
       </div>

      <div class="card mt-3 p-3">
        <% camp.comments.forEach(function(comment){ %>
        <div class="row">
          <div class="col-md-12">
            <a href="/users/<%= comment.author.id %>"><strong><%= comment.author.username %></strong></a>

            <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
            <p><%= comment.text %></p>
            <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
              <a class="btn btn-xs btn-warning"
                 href="/camps/<%=camp._id %>/comments/<%=comment._id %>/edit">Edit</a>
              <form id="delete-form" action="/camps/<%=camp._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                  <input  type="Submit" class="btn btn-xs btn-danger" value="Delete">
              </form>
            <% } %>
          </div>
        </div>
        <% }) %>
      </div>
     </div>
  </div>
</div>

<% include ../partials/footer.ejs %>
